/* This file is a styling class for the website */

/* Get rid of the edge spacing on the website */
body {
    margin: 0;
    padding: 0;
  }

  * {
    font-size: 100%;
    font-family: Calibri;
   }
  
  #theme {
      background-color: black;
      color: rgba(200, 200, 200, 1.0);
  }

  /*any link element*/
  a{
    text-decoration : none; 
    color :black;
    transition-duration:0.4s;
  }
  a:hover{
      color:blue;
  }
  .contact a{
    color :white;
    transition-duration:0.4s;
  }
  .contact a:hover{
    color:blue;
  }
  /* Navigation bar */
  .navBar {
      position: fixed; /* always show at the top */
      width: 100%;
      height: 5vmin;
      background-color: rgb(196, 194, 194); /* Gray */
      z-index: 1;
      display: table;
      table-layout: fixed; /* space evenly */
  }
  
  /* for all the list elements in nav bar */
  .navBar li {
      display: table-cell;
      vertical-align: middle;
      background-color: rgb(196, 194, 194); /* Gray */
  }

  /* link element inside nav bar */
  .navBar li.link {
      font-size: 3vmin;
      transition-duration:0.4s;
      border: none;
      text-align: center;
      text-decoration: none;
      margin: 1vmin 0.2vmin;
      cursor: pointer;
      border-radius: 1vmax;
      font: 1em georgia;
  }
  
  .navBar li.link:hover{
      box-shadow: 0 1vmax 1.25vmax 0 rgba(0,0,0,0.24), 0 1.33vmax 3.9vmax 0 rgba(0,0,0,0.19);
      border-color: white;
  }
  
  /* divider inside nav bar */
  .navBar li.divider {
      font-size: 2.4vmax;
      width: 1vmax;
      color: rgba(0, 0, 0, 0.1);
      /* background-color: white; */
  }


  /* Container holding the image and the text */
  .imageContainer {
      position: relative;
      max-height: 100%;
      width: 100%;
      overflow: hidden;
      top: 0vmax;
      left: 0;
      border-bottom: 0.2vmin solid rgba(150, 150, 150, 0.5); /* can specify the spacing*/
  }
  
  /* Title text in the middle of an imageContainer */
  .imageContainer .titleOnImage {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      text-align: center;
      vertical-align: middle;
      transform: translate(0%, -50%);
      color: black;
      font-size: 5pc;
      text-align: center;
      padding-left: 1.5vmax;
      padding-right: 1.5vmax;
      font: georgia
      /* background-color: red; */
  }
  
  /* hotizontal positioning of objects */
  .inlineBlock {
      margin-top: 1vmax;
      color: white;
      text-align: center;
  }
  
  /* Any div object that is inside an .inlineBlock instance */
  .inlineBlock div {
      display: inline-block;
      padding: 3.9vmax;
      border: 0.2vmin red solid;
  }

/* Slideshow container */
.slideshow-container {
    max-width: 78vmax;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2vmax;
    padding: 1.25vmax;
    color: white;
    font-weight: bold;
    font-size: 1.4vmax;
    transition: 0.6s ease;
    border-radius: 0 0.6vmin 0.6vmin 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0.6vmin 0 0 0.6vmin;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 2.6vmin;
    padding: 1.4vmin 1vmax;
    position: absolute;
    bottom: 1.4vmin;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 1vmax;
    padding: 1.4vmin 1vmax;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 0.2vmin;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 100vmax;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 3.5vmin;
    background-color: #f8f8f8;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.9vmax;
}

/* Container around content */
.container {
    padding: 0.9vmax 3.125vmax;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 2vmax;
    height: 2vmax;
    right: -1.3vmax;
    background-color: white;
    border: 0.8vmin solid #FF9F55;
    top: 1.2vmax;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.7vmax;
    width: 0;
    z-index: 1;
    right: 2.3vmax;
    border: medium solid white;
    border-width: 0.9vmax 0 0.9vmax 0.9vmax;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.7vmax;
    width: 0;
    z-index: 1;
    left: 2.3vmax;
    border: medium solid white;
    border-width: 0.9vmax 0.9vmax 0.9vmax 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -1.25vmax;
}

/* The actual content */
.timeline-content {
    padding: 1.6vmax 2.3vmax ;
    background-color: #f8f8f8;
    position: relative;
    border-radius: 1vmin;
}

.timeline-text {
    color: black;
}

.timeline-image {
    display: inline-block;
    width: 100%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 2.3vmax;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 12vmin;
        padding-right: 4.5vmin;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 10.4vmin;
        border: medium solid white;
        border-width: 0.9vmax 0.9vmax 0.9vmax 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 1.2vmax;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}


.grid-container {
    display: grid;
    background-color: #2196F3;
    padding: 50px;
    grid-template-columns: 400px auto;
    grid-template-rows: 100px repeat(4, 200px);
    column-gap: 5px;
    row-gap: 10px;
    justify-items: stretch;
}

.grid-item-pic {
    background-color: #D1F1FA;
    color: black;
    font-size: 20px;
    line-height: 0.5;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
    background-color: #D1F1FA;
    color: black;
    font-size: 20px;
    line-height: 0.5;
    object-fit: cover;
    text-align: left;
}

.grid-item--1 {
    object-fit: cover;
    max-width:395px;
    max-height: 195px;
    width: auto;
    height: auto;
}

.grid-item:hover{
    background-size: 100% 100%;
    transform:scale(1.05,1.05);
    transform-origin:center;
    border-radius: 1vmax;
    box-shadow: 0 1vmax 1vmax 0 rgba(0,0,0,0.24);
    background-color: #9AE1F6;
}

.header {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height : 100px;
    font-size: 20px;
    color: black;
}
