/* This file is a styling class for the website */

/* Get rid of the edge spacing on the website */
body {
  margin: 0;
  padding: 0;
}

/* Container holding the image and the text */
.imageContainer {
    position: relative;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0px;
    left: 0;
}

/* Title text in the middle of an imageContainer */
.imageContainer .titleOnImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    vertical-align: middle;
    transform: translate(0%, -50%);
    color: black;
    font-size: 5pc;
    font-family: 'Avenir';
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: red; */
}

/* hotizontal positioning of objects */
.inlineBlock {
    margin-top: 10px;
    color: white;
    text-align: center;
}

/* Any div object that is inside an .inlineBlock instance */
.inlineBlock div {
    display: inline-block;
    padding: 50px;
    border: 1px red solid;
}


/* Navigation bar */
.navBar {
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: rgba(255.0, 255.0, 255.0, 0.7);
    z-index: 1;
    text-align: center;
}

/* List inside a navBar */
.navBar li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: white;
    font-family: 'Avenir';
}


#theme1 {
    /* background-color: rgba(30, 30, 30, 1.0); */
    /* color: rgba(200, 200, 200, 1.0); */
    background-color: royalblue;
    color: black;
}

#dark {
    background-color: black;
    color: rgba(200, 200, 200, 1.0);
}

#light {
    background-color: rgba(200, 200, 200, 1.0);
    color: black; 
}