/* This file is a styling class for the website */

/* Get rid of the edge spacing on the website */
body {
  margin: 0;
  padding: 0;
}

#theme {
    background-color: black;
    color: rgba(200, 200, 200, 1.0);
}

/* Container holding the image and the text */
.imageContainer {
    position: relative;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0px;
    left: 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5); /* can specify the spacing*/
}

/* Title text in the middle of an imageContainer */
.imageContainer .titleOnImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    vertical-align: middle;
    transform: translate(0%, -50%);
    color: black;
    font-size: 5pc;
    font-family: 'Avenir';
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: red; */
}

/* hotizontal positioning of objects */
.inlineBlock {
    margin-top: 10px;
    color: white;
    text-align: center;
}

/* Any div object that is inside an .inlineBlock instance */
.inlineBlock div {
    display: inline-block;
    padding: 50px;
    border: 1px red solid;
}


/* Navigation bar */
.navBar {
    position: fixed; /* always show at the top */
    
    padding-right: 10%;
    padding-left: 10%;
    width: 80%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: rgba(255.0, 255.0, 255.0, 0.7);
    z-index: 1;
    
    display: table;
    table-layout: fixed; /* space evenly */
}

.navBar li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Avenir';
}

/* List inside a navBar */
.navBar li.link {
    font-size: 20px;
    /* background-color: red; */
}

.navBar li.divider {
    font-size: 30px;
    width: 10px;
    color: rgba(0, 0, 0, 0.1);
    /* background-color: white; */
}

